@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('animations.css');

:root {
  --transparent: transparent;
  --current: currentColor;
  --white: #ffffff;
  --seashell: #f1f1f1;
  --black: #000000;
  --dark-blue: #1a232a;
  --grayish-blue: #bac7d7;
  --silver: #e8e9eb;
  --primary-orange: #eb520c;
  --secondary-orange: #f28451;
}

html {
  min-height: 200vh;
}
body {
  font-family: var(--workSans-font);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--montserrat-font);
}

.container-xl {
  padding: 0 90px;
  width: 100%;
  max-width: 1800px;
}

@media (max-width: 768px) {
  .container-xl {
    padding: 0 20px;
  }
}
